body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #e0e0e0; */
  font-size: 20px;
}
td {
  background-color: #ffffff;
}
p {
  margin: 30px 20px 0px;
  font-size: 30px;
}
#consent-info p,
#debrief p {
  font-size: 18px;
  margin: 20px 0;
}
/* td:hover {
  background-color: #D3D3D3;
} */
.base {
  width:800px;
  margin:0 auto;
}

.frame {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 0px;
  font-size: 18px;
  border: #404040 dotted 2px;
}
.frame textarea {
  height: 100px;
  width: 99%;
}

.task-div {
  height: 600px;
  width: 800px;
  border: #404040 dotted 2px;
  /* background-color: #D3D3D3; */
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-btn-cls {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.task-btn {
  font-size: 25px;
  background-color: #ffffff;
  border: 0;
  color: #808080;
  padding: 5px;
}
.task-btn:hover{
  background-color: #e0e0e0;
  color: black;
}
.task-textbox {
  margin: 8px 20px;
  height: 100px;
  width: 90%;
  font-size: 25px;
}

.key-maker-body {
  height: 140px;
  width: 200px;
  background-color: silver;
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  box-shadow: 5px 10px #888888;

}
.key-maker-btngroup{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.key-maker-btn-1,
.key-maker-btn-2,
.key-maker-btn-3 {
  height: 40px;
  width: 60px;
  background-color: aliceblue;
  margin: 10px;
  text-align: center;
  font-size: 25px;

}

.key-maker-btngroup-bottom  {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.key-maker-btn-r {
  height: 40px;
  width: 80%;
  background-color: lightblue;
  margin: 10px;
  text-align: center;
  font-size: 22px;

}






#task-grid-tab-c33 {
  background-color: black;
}

#causal-btn-group {
  height: 50px;
  width: 98%;
}
.causal-btn {
  height: 40px;
  width: 50px;
  margin-right: 5px;
  margin-top: 0px;
}
.button-group-vc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.task-button, .big-button {
  border: #e0e0e0 1px solid;
  text-align: center;
  border-radius: 10%;
  margin: 2px;
  padding: 5px 10px;
}

.task-button:hover:enabled,
.big-button:hover:enabled,
#sure-btn:hover {
  background-color: #116466;
  color: #e0e0e0;
}

.task-button:disabled,
.big-button:disabled,
.task-button:disabled:hover,
.big-button:disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
.big-button {
  font-size: 18px;
  padding: 10px 30px;
}
#collect-input-textarea {
  margin: 5px;
  height: 200px;
  width: 300px;
  font-size: 20px;
}

#task-main-right-top,
#task-main-right-bottom {
  flex-direction: column;
  width: 100%;
}
#consent-info {
  height: 400px;
  overflow: scroll;
  padding: 0 0 20px 0;
}
