body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #e0e0e0; */
  font-size: 20px;
}
td {
  background-color: #ffffff;
}
p {
  margin: 30px 20px 0px;
  font-size: 30px;
}
form {
  font-size: 30px;
}
input[type="text"] {
  font-size: 10px;
}
#consent-info p,
#debrief p {
  font-size: 18px;
  margin: 20px 0;
}
/* td:hover {
  background-color: #D3D3D3;
} */
.base {
  width:800px;
  margin:0 auto;
}

.frame {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 0px;
  font-size: 18px;
  border: #404040 dotted 2px;
}

.frame textarea {
  height: 100px;
  width: 99%;
}

.frame-simple {
  padding: 20px;
  border-radius: 5px;
  background-color: #fafafa;
  margin: 10px 0px;
  font-size: 18px;
}

.form-p {
  margin: 5px 0px 10px 0px;
  font-size: 27px;
}
.button-group-vc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.task-button, .big-button {
  border: #e0e0e0 1px solid;
  text-align: center;
  border-radius: 10%;
  margin: 2px;
  padding: 5px 10px;
}

.task-button:hover:enabled,
.big-button:hover:enabled,
#sure-btn:hover {
  background-color: #116466;
  color: #e0e0e0;
}

.task-button:disabled,
.big-button:disabled,
.task-button:disabled:hover,
.big-button:disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
.big-button {
  font-size: 18px;
  padding: 10px 30px;
}
#collect-input-textarea {
  margin: 5px;
  height: 200px;
  width: 300px;
  font-size: 20px;
}

#task-main-right-top,
#task-main-right-bottom {
  flex-direction: column;
  width: 100%;
}
#consent-info {
  height: 400px;
  overflow: scroll;
  padding: 0 0 20px 0;
}
#prolific_id_text {
  font-size: 20px;
  height: 25px;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}
